body {
    background-color: rgb(209, 243, 255);
    text-align: center;
    font-family: Arial, sans-serif;
}

.header-section {
    background-color: rgb(17, 97, 115);
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    width: fit-content;
}


h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 36px;
}

button {
    background-color: darkblue;
    color: white;
    padding: 8px 16px;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 12px;
}

input[type="text"], select {
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    width: 300px;
    border: 1px solid #888;
    margin: 10px;
}
input[type="password"], select {
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    width: 300px;
    border: 1px solid #888;
    margin: 10px;
}
input[type="email"], select {
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    width: 300px;
    border: 1px solid #888;
    margin: 10px;
}

img {
    width: 200px;
    transition: 0.3s ease-in-out;
    border-radius: 12px;
}

.product-container {
    display: inline-block;
    margin: 20px;
    text-align: center;
    position: relative;
    padding: 15px;
    width: 1000px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.product-container:hover .product-name-overlay {
    display: block;
}

.product-name-overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    display: none;
    border-radius: 0 0 12px 12px;
}

.thank-you-message h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: darkblue;
    margin-top: 100px;
}
